@charset "UTF-8";
@font-face {
  font-family: "TT Sans Pro";
  src: url("/fonts/normsproregular.otf");
}
@font-face {
  font-family: "TT Sans Pro";
  src: url("/fonts/normsprobold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Redika";
  src: url("/fonts/redika.otf");
}
body {
  font-family: "TT Sans Pro";
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #eaeaea;
}

::-webkit-scrollbar-thumb {
  background-color: #212529;
  border-radius: 6px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
}

.admin-content {
  min-height: 70vh;
}

nav {
  display: block;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  padding: 10px;
}

.dropdown .dropdown-toggle {
  color: black;
  font-size: 14px;
  padding: 0 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.dropdown:hover .dropdown-toggle {
  color: #ffff00 !important;
}

.with-black-links .nav-link {
  color: black;
}
.with-black-links .nav-link:hover {
  color: black;
  border-bottom: 1px solid black;
}
.with-black-links .nav-link.active {
  border-bottom: 1px solid black;
}

.nav-link {
  color: #272727;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: 1px solid transparent;
}
.nav-link:hover {
  color: gray;
  border-bottom: 1px solid white;
}
.nav-link.active {
  border-bottom: 1px solid white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav-link.active:hover {
  border-bottom: 1px solid transparent;
}

.punkt-menu {
  cursor: pointer;
  padding: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.punkt-menu:hover {
  color: #ffff00 !important;
}

.header-content {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#menuToggle {
  position: relative;
  z-index: 3;
}
#menuToggle a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
#menuToggle a:hover {
  color: tomato;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
      -ms-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}
#menuToggle span:hover {
  background-color: #ffff00;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
      -ms-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0) scale(0.2);
      -ms-transform: rotate(0) scale(0.2);
          transform: rotate(0) scale(0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translateY(-1px);
      -ms-transform: rotate(-45deg) translateY(-1px);
          transform: rotate(-45deg) translateY(-1px);
}

.regular2 {
  position: relative;
}

.tox-editor-header {
  z-index: 0 !important;
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -80px;
  padding: 125px 70px 50px;
  background: #242424;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  height: 600px;
  scrollbar-color: #f7de00 #b0b0b0;
  scrollbar-width: thin;
  overflow-y: scroll;
}
#menu li {
  padding: 10px 0;
  font-size: 18px;
}

#menuToggle input:checked ~ ul {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  overflow-x: hidden;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  background-color: #eaeaea;
}

.wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow-x: clip;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: #eaeaea;
}
footer .footer-address {
  line-height: 28px;
}
footer .ul-title {
  font-size: 18px;
  font-weight: 700;
}
footer ul li {
  margin-bottom: 7px;
}
footer ul li a {
  color: #212529;
  text-decoration: none !important;
}

.textImageC {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  text-wrap: balance;
}

.textImageC2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-wrap: balance;
}

.textImageL {
  position: absolute;
  bottom: 0;
  left: 50px;
}

.textImageL2 {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.brdr {
  border: black 3px solid;
}

.prdct {
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 2;
}
.prdct:hover {
  scale: 1.2;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.52) 10px 5px 5px 5px;
          box-shadow: rgba(0, 0, 0, 0.52) 10px 5px 5px 5px;
  z-index: 3;
}
.prdct .prc {
  visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: white;
  padding: 5px;
}
.prdct:hover .prc {
  visibility: visible;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.less-brightness {
  -webkit-filter: brightness(0.6) contrast(0.6);
          filter: brightness(0.6) contrast(0.6);
}

.aboutSctn {
  background-color: #eaeaea;
  max-width: 1800px;
  margin: 0 auto;
  height: 100vh;
}
.aboutSctn img {
  height: 80vh;
  margin-top: 35px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f8f9fa;
  min-width: -webkit-fill-available;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-menu a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-menu a:hover {
  background-color: #ddd;
}

.w-5 {
  width: 30px;
}

.logout-a {
  color: transparent;
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1820px !important;
  }
}
.fab {
  font-size: 16px;
}

.unstyle {
  list-style-type: none;
}

.logo {
  margin-left: 60px;
  width: 200px;
  height: -webkit-fill-available;
}
.logo.admin-logo {
  margin-left: 0;
}

.cstmbtn {
  background-color: #272727;
  color: white;
  border-radius: 0px;
}
.cstmbtn:hover {
  background-color: #000;
  color: white;
}

.slider-wrapper {
  background-color: white;
  padding: 0 3rem;
}
.slider-wrapper .fav-slider {
  background-color: white;
  height: 80vh;
  border-bottom: 1px black solid;
}
.slider-wrapper .fav-slider .product-item .img-wrapper {
  padding: 20px;
  width: 400px;
  height: 400px;
  background-color: #eaeaea;
}
.slider-wrapper .fav-slider .product-item .img-wrapper .product-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-wrapper .fav-slider .product-item .product-info {
  width: 35%;
  margin-left: 50px;
}
.slider-wrapper .fav-slider .product-item .product-info .shipment p {
  font-size: 16px;
}
.slider-wrapper .fav-slider .product-item .product-info .shipment img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-wrapper .fav-slider .product-item .product-info .name-w-delete img {
  width: 16px;
  height: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-wrapper .fav-slider .product-item .product-info .name-w-delete button {
  background: transparent;
  border: none;
}
.slider-wrapper .fav-slider .product-item .product-info .product-price {
  color: #b10000;
}
.slider-wrapper .fav-slider .product-item .product-info .buy-btn {
  color: #f8fafc;
  border: none;
  background-color: #202020;
  font-size: 20px;
  padding: 5px 10px;
}

.photo-for-reg {
  width: 50%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.reg-content {
  background-color: white;
}

.form-reg {
  margin-top: 100px;
}
.form-reg .reg-title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}
.form-reg .reg-sub {
  font-size: 16px;
  color: #282828;
  margin-bottom: 60px;
}
.form-reg .reg-btn {
  background-color: #202020;
  padding: 15px;
  border: none;
  border-radius: 0;
  color: white;
  font-size: 16px;
  width: 350px;
  text-align: center;
  font-family: "TT Sans Pro";
}
.form-reg .log-a {
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #121212 !important;
  font-size: 13px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form-reg .log-a:hover {
  text-decoration-color: white;
}
.form-reg .name-w-sur {
  width: 350px;
}
.form-reg .name-w-sur .required {
  width: 165px;
}
.form-reg .name-w-sur .required input {
  width: 165px;
}
.form-reg input {
  width: 350px;
  margin-bottom: 10px;
  background-color: #eaeaea;
  border-radius: 0;
  padding: 15px;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form-reg input::-webkit-input-placeholder {
  color: #282828;
}
.form-reg input::-moz-placeholder {
  color: #282828;
}
.form-reg input:-ms-input-placeholder {
  color: #282828;
}
.form-reg input::-ms-input-placeholder {
  color: #282828;
}
.form-reg input::placeholder {
  color: #282828;
}
.form-reg input:focus, .form-reg input:active {
  background-color: #f0f0f0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.form-reg .checkbox-input {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}
.form-reg .agr-lab {
  font-size: 12px;
}
.form-reg .required {
  position: relative;
  width: 350px;
}
.form-reg .required input {
  position: relative;
  margin-bottom: 10px;
  background-color: #eaeaea;
  border-radius: 0;
  padding: 15px;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form-reg .required input::-webkit-input-placeholder {
  color: #282828;
}
.form-reg .required input::-moz-placeholder {
  color: #282828;
}
.form-reg .required input:-ms-input-placeholder {
  color: #282828;
}
.form-reg .required input::-ms-input-placeholder {
  color: #282828;
}
.form-reg .required input::placeholder {
  color: #282828;
}
.form-reg .required input:focus, .form-reg .required input:active {
  background-color: #f0f0f0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.form-reg .required .required-sign {
  position: absolute;
  top: 21px;
  right: 15px;
  background: yellow;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.form-reg .pass-clue {
  font-size: 12px;
  margin: auto;
  padding-left: 15px;
  width: 350px;
  color: #333;
}

.cart-sidebar.closed {
  right: -27% !important;
}

.cart-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  /* начальное положение сайдбара за пределами экрана */
  width: 27%;
  height: 100%;
  background-color: #121212;
  -webkit-transition: right 0.5s ease;
  transition: right 0.5s ease;
  /* анимация для плавного появления сайдбара */
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 999;
  /* убедитесь, что сайдбар находится выше других элементов */
}
.cart-sidebar .cart-header {
  padding: 0 20px;
  margin-bottom: 50px;
}
.cart-sidebar .cart-header img {
  cursor: pointer;
  width: 26px;
  height: 26px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cart-sidebar .cart-header img:hover {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.cart-sidebar .cart-header p {
  color: white;
}
.cart-sidebar .delete-item {
  cursor: pointer;
  margin-right: 10px;
  background-color: transparent;
  border: none;
}
.cart-sidebar .delete-item img {
  width: 16px;
  height: 16px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: invert(1);
          filter: invert(1);
}
.cart-sidebar .product-item .img-wrapper {
  padding: 20px;
  width: 150px;
  height: 150px;
  background-color: #eaeaea;
}
.cart-sidebar .product-item .img-wrapper .product-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart-sidebar .product-item .prod-name {
  font-size: 14px;
  color: white;
  margin-bottom: 10px;
}
.cart-sidebar .product-item .product-info {
  margin-left: 30px;
}
.cart-sidebar .product-item .product-info .name-w-delete img {
  width: 16px;
  height: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart-sidebar .product-item .product-info .name-w-delete button {
  background: transparent;
  border: none;
}
.cart-sidebar .product-item .product-info .pr-info {
  width: 20%;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}
.cart-sidebar .product-item .product-info .product-price {
  font-size: 16px;
  color: white;
  margin-right: 20px;
}
.cart-sidebar .product-item .product-info .buy-btn {
  color: #f8fafc;
  border: none;
  background-color: #202020;
  font-size: 20px;
  padding: 5px 10px;
}
.cart-sidebar .product-item .product-info .quant-btn {
  padding: 2px 5px;
  border: 1px solid white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.cart-sidebar .product-item .product-info .quant-btn i {
  cursor: pointer;
  font-size: 12px;
  color: white;
}
.cart-sidebar .product-item .product-info .quant-btn .quant {
  font-size: 16px;
  color: white;
  margin: 0 15px;
}
.cart-sidebar .cart-footer .total-sum {
  margin: 40px 40px 20px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 20px 0;
}
.cart-sidebar .cart-footer .total-sum .product-price {
  font-size: 16px;
  margin-top: 0;
}
.cart-sidebar .cart-footer .total-sum p {
  font-size: 18px;
  margin-bottom: 0;
  color: white;
}
.cart-sidebar .cart-footer .shipment {
  margin-left: 40px;
  margin-bottom: 20px;
}
.cart-sidebar .cart-footer .shipment p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}
.cart-sidebar .cart-footer .shipment img {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 5px;
  -webkit-filter: invert(1);
          filter: invert(1);
}
.cart-sidebar .cart-footer .checkout-btn {
  cursor: pointer;
  position: relative;
  width: -webkit-fill-available;
  padding: 15px 60px;
  margin-top: 20px;
  border: none;
  background-color: #bcbdb8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cart-sidebar .cart-footer .checkout-btn .checkout-btn-p {
  font-size: 15px;
  font-family: "TT Sans Pro";
  margin-right: 40px;
}
.cart-sidebar .cart-footer .checkout-btn i {
  position: absolute;
  top: 20px;
  right: 60px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cart-sidebar .cart-footer .checkout-btn:hover {
  background-color: #a1a19e;
}
.cart-sidebar .cart-footer .checkout-btn:hover i {
  right: 50px;
}

.radio-options {
  background-color: white;
  padding: 58px 40px 20px;
}

.tabs-wrapper {
  margin-left: 40px;
  margin-top: 80px;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.tab {
  padding: 10px 35px;
  background-color: #f1f1f1;
  margin-right: 5px;
  margin-bottom: 20px;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tab.active {
  background-color: #fff;
  border: 1px black solid;
}

.tab-pane {
  display: none;
  padding: 10px;
}
.tab-pane.active {
  display: block;
}

.arc-proj,
.design-proj {
  margin-right: 20px;
  width: 250px;
}
.arc-proj p,
.design-proj p {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 0 !important;
  line-height: normal;
}

.radio-title {
  margin-right: 60px;
}
.radio-title.fr {
  margin-right: 84px;
}

.type-object {
  margin-bottom: 40px;
}

.radio-btn-wrap {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}
.radio-btn-wrap input[type=radio] {
  position: absolute;
  left: -9999px;
}
.radio-btn-wrap input[type=radio] + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  font-size: 13px;
  display: inline-block;
  color: #333;
}
.radio-btn-wrap input[type=radio] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #121212;
  border-radius: 100%;
}
.radio-btn-wrap input[type=radio] + label:after {
  content: "✔";
  color: white;
  font-size: 11px;
  text-align: center;
  width: 17px;
  height: 17px;
  background: #000;
  position: absolute;
  left: 0px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.radio-btn-wrap input[type=radio]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.radio-btn-wrap input[type=radio]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox-btn-wrap {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}
.checkbox-btn-wrap input[type=checkbox] {
  position: absolute;
  left: -9999px;
}
.checkbox-btn-wrap input[type=checkbox] + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  font-size: 13px;
  display: inline-block;
  color: #333;
}
.checkbox-btn-wrap input[type=checkbox] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #121212;
  border-radius: 100%;
}
.checkbox-btn-wrap input[type=checkbox] + label:after {
  content: "✔";
  color: white;
  font-size: 11px;
  text-align: center;
  width: 17px;
  height: 17px;
  background: #000;
  position: absolute;
  left: 0px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.checkbox-btn-wrap input[type=checkbox]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.checkbox-btn-wrap input[type=checkbox]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.left-info {
  padding: 55px 30px 300px;
}

.info {
  background-color: white;
  margin-left: 40px;
  padding-bottom: 80px;
  border-bottom: 1px solid #333;
}
.info h6 {
  margin-right: 45px;
  margin-top: 15px;
}
.info input {
  background-color: #eaeaea;
  padding: 15px;
  border: none;
  width: 450px;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.info input:focus, .info input:active {
  background-color: rgb(243, 243, 243);
  border: none;
  outline: none;
}

.contact-form {
  margin-top: 100px;
}
.contact-form input,
.contact-form textarea {
  background-color: #eaeaea;
  padding: 15px;
  border: none;
  width: 450px;
  margin-right: 10px;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.contact-form input:focus, .contact-form input:active,
.contact-form textarea:focus,
.contact-form textarea:active {
  background-color: rgb(243, 243, 243);
  border: none;
  outline: none;
}
.contact-form input.checkbox-input,
.contact-form textarea.checkbox-input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.contact-form input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
  text-transform: uppercase;
}
.contact-form input::-moz-placeholder, .contact-form textarea::-moz-placeholder {
  text-transform: uppercase;
}
.contact-form input:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {
  text-transform: uppercase;
}
.contact-form input::-ms-input-placeholder, .contact-form textarea::-ms-input-placeholder {
  text-transform: uppercase;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  text-transform: uppercase;
}
.contact-form button {
  cursor: pointer;
  width: 350px;
  margin: auto;
  background-color: #121212;
  padding: 15px;
  border: none;
}
.contact-form button p {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "TT Sans Pro";
  color: white;
}
.contact-form button i {
  font-size: 18px;
  color: yellow;
}

.cert-slider-wrapper {
  background-color: #bcbdb8;
  padding: 140px 80px 20px;
}
.cert-slider-wrapper p {
  margin-top: 10px;
}

.cert-slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cert-slider i {
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 20px;
  color: white;
  z-index: 9999;
}
.cert-slider .fa-chevron-left {
  left: -30px;
}
.cert-slider .fa-chevron-right {
  right: -30px;
}
.cert-slider .item {
  width: 400px !important;
  height: 600px;
  margin-right: 50px;
}
.cert-slider .item img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.admin-img {
  position: relative;
}
.admin-img img {
  width: 100%;
  height: 100%;
}
.admin-img .text-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  /* Переносим в центр по вертикали */
  -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%);
          transform: translateY(10%);
  /* Центрирование по вертикали */
  text-align: center;
}
.admin-img .text-container p {
  color: white;
  font-size: 32px;
  opacity: 0;
  /* Начальная прозрачность для анимации появления */
  -webkit-animation: slide-up 0.5s ease forwards;
          animation: slide-up 0.5s ease forwards;
  /* Анимация снизу вверх */
}
.admin-img .text-container p:nth-child(2) {
  font-size: 24px;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  /* Задержка для второй строки */
}

@-webkit-keyframes slide-up {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    /* Начальное положение вне экрана */
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    /* Конечное положение в центре */
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    /* Начальное положение вне экрана */
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    /* Конечное положение в центре */
    opacity: 1;
  }
}
.admin-index {
  min-height: 55vh;
  margin: 100px 50px;
}

.btn-primary {
  background-color: #333;
  border: none;
}
.btn-primary:hover {
  background-color: #555;
}

.about-cont a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.about-cont a:hover {
  color: #636363;
}
.about-cont .img-wrapper {
  cursor: pointer;
  width: 550px;
  height: 300px;
  display: inline-block;
  overflow: hidden;
}
.about-cont .img-wrapper img {
  width: 550px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.about-cont .img-wrapper img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.about-cont .p-sxtn {
  font-size: 16px;
  text-decoration: none !important;
  color: #212529;
}
.about-cont .p-eitn {
  font-size: 18px;
  text-decoration: none !important;
  color: #212529;
}
.about-cont .p-twntw {
  font-size: 22px;
  text-decoration: none !important;
  color: #212529;
}
.about-cont .download-btn {
  cursor: pointer;
  padding: 15px 50px;
  background-color: #121212;
  font-size: 16px;
  font-family: "TT Sans Pro";
  border: none;
  outline: none;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.about-cont .download-btn:hover {
  opacity: 0.7;
}
.about-cont .download-btn i {
  margin-left: 30px;
}

.scroll-fade-in {
  opacity: 0;
  -webkit-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease;
}
.scroll-fade-in.visible {
  opacity: 1;
}

/* Общие стили */
.thr-model {
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.thr-model .threed-wrapper {
  position: relative;
}
.thr-model .threed-wrapper .hover-content {
  background-color: white;
  opacity: 0;
  position: absolute;
  bottom: -80px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  left: 0;
  width: 100%;
  height: 80px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.thr-model .threed-wrapper .hover-content svg {
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.thr-model .threed-wrapper .hover-content .model-name {
  font-size: 16px;
  color: #212529;
  margin-left: 50px;
  margin-top: 15px;
}
.thr-model:hover {
  z-index: 99999;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.thr-model:hover .threed-wrapper {
  z-index: 99999;
}
.thr-model:hover .threed-wrapper .hover-content {
  z-index: 99999;
  opacity: 1;
}

.proj-wrapper,
.blog-wrapper {
  cursor: pointer;
  height: 350px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  overflow: hidden;
}
.proj-wrapper .card-img-top,
.blog-wrapper .card-img-top {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 350px;
}
.proj-wrapper .card-img-top:hover,
.blog-wrapper .card-img-top:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.proj-a,
.blog-a {
  color: #212529;
  text-decoration: none !important;
}

.card-img-top {
  height: 370px;
  -o-object-fit: cover;
     object-fit: cover;
}

.all-v-link {
  margin-bottom: 60px;
}
.all-v-link a {
  text-decoration: none;
  color: #121212;
  margin-bottom: 3px;
}
.all-v-link i {
  font-size: 12px;
  margin-left: 4px;
}

.partners-logo {
  margin-right: 20px;
  -ms-flex-item-align: center;
      align-self: center;
}
.partners-logo img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.our-areas {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 700;
}

.areas-block .area-wrap {
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 300px;
}
.areas-block .area-wrap img {
  -webkit-filter: brightness(0.6) contrast(0.6);
          filter: brightness(0.6) contrast(0.6);
  position: relative;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.areas-block .area-wrap img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.areas-block .area-wrap .area-title {
  font-size: 18px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.inspire-block {
  height: 100vh;
  width: 100%;
  position: relative;
}
.inspire-block img {
  -webkit-filter: brightness(0.6) contrast(0.6);
          filter: brightness(0.6) contrast(0.6);
  position: relative;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.inspire-block .inspire-text {
  margin: 30px 0;
  height: 95vh;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.inspire-block .inspire-text .inspire-title {
  color: white;
  font-size: 32px;
}
.inspire-block .inspire-text .inspire-sub {
  color: white;
  font-size: 24px;
}
.inspire-block .inspire-text .insp-proj {
  color: white;
  font-size: 28px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.inspire-block .inspire-text .insp-proj::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px; /* Расположение underline под текстом */
  width: 0;
  height: 1px; /* Толщина underline */
  background-color: #fff; /* Цвет underline */
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease; /* Анимация изменения ширины */
}
.inspire-block .inspire-text .insp-proj:hover::after {
  width: 100%;
}

.contacts-block {
  height: 100vh;
  width: 100%;
  position: relative;
}
.contacts-block img {
  -webkit-filter: brightness(0.6) contrast(0.6);
          filter: brightness(0.6) contrast(0.6);
  position: relative;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.contacts-block .contracts-text {
  margin: 30px 0;
  height: 94vh;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.contacts-block .contracts-text .contr-proj {
  color: white;
  font-size: 28px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.contacts-block .contracts-text .contr-proj::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px; /* Расположение underline под текстом */
  width: 0;
  height: 1px; /* Толщина underline */
  background-color: #fff; /* Цвет underline */
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease; /* Анимация изменения ширины */
}
.contacts-block .contracts-text .contr-proj:hover::after {
  width: 100%;
}

.thr-model {
  margin-bottom: 25px;
}
.thr-model img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-wrapper {
  overflow: hidden;
  margin-top: 35px;
  margin-right: 10px;
}

.download-button {
  cursor: pointer;
}

@media (min-width: 992px) {
  .vacanc-img {
    width: 47%;
  }
  .vacanc-img:nth-of-type(odd) {
    margin-right: 30px;
  }
}
@media (max-width: 991px) {
  .vacanc-img {
    width: 100%;
  }
  .header-content {
    padding: 20px 10px;
  }
  .header-content .logo {
    height: unset;
  }
  .slider-wrapper {
    padding: 0;
  }
  .slider-wrapper .fav-slider {
    padding: 10px 0;
    height: unset;
  }
  .slider-wrapper .fav-slider .product-item {
    padding-right: 10px;
  }
  .slider-wrapper .fav-slider .product-item .img-wrapper {
    width: 150px;
    height: 150px;
  }
  .slider-wrapper .fav-slider .product-item .product-info {
    width: unset;
    margin-left: 20px;
  }
  .slider-wrapper .fav-slider .product-item .product-info .name-w-delete .fs-4 {
    font-size: 14px !important;
  }
  .slider-wrapper .fav-slider .product-item .product-info .fs-5 {
    font-size: 12px !important;
  }
  .slider-wrapper .fav-slider .product-item .product-info .product-price.text-center {
    text-align: start !important;
  }
  .slider-wrapper .fav-slider .product-item .product-info .shipment {
    width: 90%;
  }
  .slider-wrapper .fav-slider .product-item .product-info .shipment p {
    font-size: 12px;
    text-align: start !important;
  }
  .slider-wrapper .fav-slider .product-item .product-info .buy-btn {
    margin-left: unset !important;
    margin-right: unset !important;
    font-size: 16px;
  }
}
@media (min-width: 1000px) and (max-width: 1440px) {
  .vacanc-img {
    width: 48%;
  }
  .vacanc-img .card-img-top {
    height: 250px;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .vacanc-img {
    width: 50%;
  }
  .vacanc-img .card-img-top {
    height: 250px;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .vacanc-img .card-img-top {
    height: 250px;
  }
}
@media (min-width: 320px) and (max-width: 426px) {
  .fav-slider {
    padding: 0 !important;
  }
  .slider-item {
    min-height: 400px !important;
  }
}
.slider-item {
  min-height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
}

.order-form {
  margin: 0 40px;
}
.order-form .form-group label {
  color: white;
}

/* Общие стили */
.product-card {
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.product-card .product-image-container {
  position: relative;
  text-align: center;
  width: 100%;
  height: 330px;
}

.product-card .product-img {
  width: 100%;
  height: auto;
  display: block;
}

.product-card .hover-content {
  background-color: white;
  opacity: 0;
  position: absolute;
  bottom: -120px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  /* Adjust to fit your design */
  left: 0;
  width: 100%;
  -webkit-transition: opacity 0.3s ease, bottom 0.3s ease;
  transition: opacity 0.3s ease, bottom 0.3s ease;
  text-align: center;
  padding: 10px;
}

.product-card:hover {
  z-index: 99999;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.product-card:hover .hover-content {
  opacity: 1;
  /* bottom: 0; */
}

.product-text {
  font-size: 16px;
  color: #212529;
  margin: 0;
}

.product-price {
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}

.add-to-cart {
  background: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.add-to-cart:hover {
  background: darkgray;
}

.cart-sidebar .cart-footer .checkout-btn {
  margin-left: unset !important;
  margin-right: unset !important;
  margin-top: 20px !important;
}

.order-form .form-group label {
  color: white;
  margin: 10px 0 15px;
}

.product-item {
  /* display: flex; */
  color: white;
  margin: 0 40px 0 0;
}
.product-item .product-price {
  margin-top: 26px;
}

.quantity-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  padding: 5px;
}

.quant {
  color: white;
  font-size: 16px;
  margin: 0 20px;
}

.decrease-quantity,
.increase-quantity {
  background-color: transparent !important;
  outline: none;
  border: none;
  color: white;
  padding-bottom: 2px;
}

.product-price-info {
  opacity: 0.7;
  width: 60px;
}

.clear-cart {
  margin: 0 40px;
}

.description {
  background-color: red;
  font-size: 16px;
}

.see-more-btn {
  cursor: pointer;
  padding: 10px;
  margin: auto;
  border: none;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #333;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: white;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.see-more-btn:hover {
  background-color: #000 !important;
  text-decoration-color: #000 !important;
}

.black-imp {
  color: black !important;
}

.white-imp {
  color: white !important;
}

.new-badge-abs {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 15px;
  font-size: 14px;
  color: #ffff00;
  background-color: #333;
}

.remove-item {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px; /* Установите размер кнопки, чтобы она была удобна для клика */
  height: 40px;
  border: none; /* Уберите рамку, если это нужно */
  background-color: transparent; /* Сделайте фон прозрачным, если это нужно */
  cursor: pointer; /* Убедитесь, что курсор меняется при наведении */
}

.cart-items .product-item {
  margin: 0 40px 0 0;
}

.cart-prod-img {
  margin: 0 20px 0 0;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

#clearCart {
  border-radius: 0;
  padding: 14px 0;
}

.favorite-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.favorite-btn i {
  font-size: 24px;
}

.footer-link {
  text-decoration: none;
  position: relative;
  color: black;
}
.footer-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  left: 50%;
  bottom: -2px;
  background-color: black;
  -webkit-transition: width 0.4s ease, left 0.4s ease;
  transition: width 0.4s ease, left 0.4s ease;
}
.footer-link:hover::after {
  width: 100%;
  left: 0;
}

.subscr-input {
  border-radius: 0 !important;
  background-color: #eaeaea;
}

.send-request-btn {
  position: relative;
  cursor: pointer;
}
.send-request-btn i {
  position: absolute;
  top: 17px;
  right: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.send-request-btn:hover i {
  right: 30px;
}

.show-all-a {
  line-height: 64px;
  color: #333;
  text-decoration-color: #333 !important;
  text-underline-offset: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.show-all-a:hover {
  text-decoration-color: transparent !important;
}

@-webkit-keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  25% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  25% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
.icon-wrapper {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.icon-wrapper i {
  font-size: 22px;
}
.icon-wrapper:hover {
  -webkit-animation: bounce2 2s ease infinite;
          animation: bounce2 2s ease infinite;
}

.scroll-to-top {
  position: fixed;
  bottom: 50px;
  right: 30px;
  background-color: #000;
  color: #ffff00;
  border: none;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  font-size: 24px;
  cursor: pointer;
  opacity: 1;
  display: none; /* Скрыта по умолчанию */
  z-index: 1000; /* Чтобы кнопка была выше остальных элементов */
}

.vacanc-img-wrapper {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  height: 370px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.vacanc-img-wrapper img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -o-object-fit: cover;
     object-fit: cover;
}
.vacanc-img-wrapper:hover img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.card-body .card-title-link {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.card-body .card-title-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0; /* Расположение underline под текстом */
  width: 0;
  height: 1px; /* Толщина underline */
  background-color: #000; /* Цвет underline */
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease; /* Анимация изменения ширины */
}
.card-body .card-title-link:hover::after {
  width: 100%;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 1;
}
#preloader .animated-logo svg {
  width: 100%;
  height: 100px;
}
#preloader.hidden {
  opacity: 0;
}
#preloader .loader {
  width: 120px;
  height: 120px;
  position: relative;
}
#preloader .loader span {
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: preloader 1.5s linear infinite;
          animation: preloader 1.5s linear infinite;
}
#preloader .loader span:nth-child(1) {
  border-radius: 48% 52% 68% 32%/46% 40% 60% 54%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(136, 134, 7, 0.8), inset 0px 0px 10px 0px rgba(136, 134, 7, 0.8);
          box-shadow: 0px 0px 10px 0px rgba(136, 134, 7, 0.8), inset 0px 0px 10px 0px rgba(136, 134, 7, 0.8);
}
#preloader .loader span:nth-child(2) {
  animation-direction: reverse;
  border-radius: 27% 73% 64% 36%/69% 39% 61% 31%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(251, 184, 53, 0.5), inset 0px 0px 10px 0px rgba(251, 184, 53, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(251, 184, 53, 0.5), inset 0px 0px 10px 0px rgba(251, 184, 53, 0.5);
}
#preloader .loader span:nth-child(3) {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  border-radius: 58% 42% 30% 70%/38% 59% 41% 62%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(253, 100, 67, 0.7), inset 0px 0px 10px 0px rgba(253, 100, 67, 0.7);
          box-shadow: 0px 0px 10px 0px rgba(253, 100, 67, 0.7), inset 0px 0px 10px 0px rgba(253, 100, 67, 0.7);
}
#preloader .loader .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Rendika";
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  z-index: 1; /* Поверх всего остального */
}

@-webkit-keyframes preloader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
#content {
  display: none;
}

.progress-bar-container {
  width: 100%;
  height: 1px;
  background-color: #000;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: width 0.1s ease-in-out;
  transition: width 0.1s ease-in-out;
}

.purchases {
  margin-bottom: 300px;
}

.custom-select {
  background-color: transparent !important;
  padding: 15px;
  font-size: 16px;
  color: #333;
  border: none !important;
  outline: none !important;
}